DEBUG=0
DJANGO_SECRET_KEY=change-this-to-a-long-random-secret
ALLOWED_HOSTS=qr.akadmvd.uz,localhost,127.0.0.1
BACKEND_URL=https://qr.akadmvd.uz
FRONTEND_URL=https://qr.akadmvd.uz
FRONTEND_ALLOWED_ORIGINS=https://qr.akadmvd.uz,http://localhost:4173,http://localhost:5173
USE_X_FORWARDED_HOST=1
SESSION_COOKIE_SECURE=1
CSRF_COOKIE_SECURE=1
SECURE_SSL_REDIRECT=1
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=1
SECURE_HSTS_PRELOAD=1
